/****************************************** General Styles **********************************/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

:root {
  --color-black: #000;
  --color-lightblack: rgba(0, 0, 0, 0.2);
  --color-lightblack-2: rgba(0, 0, 0, 0.85);
  --color-white: #fff;
  --color-lightgrey: #dcdcdc;
  --color-lightgrey-2: rgb(242, 242, 242);
  --color-darkgrey: rgba(197, 197, 197, 0.8);
  --color-darkgrey-2: #191919;
}

p {
  color: var(--color-lightblack-2);
}

@media only screen and (max-width: 1187px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 70%;
  }
}

body {
  font-family: "lato", sans-serif;
  position: relative;
}

section,
main {
  display: flex;
  margin: 0 auto;
  max-width: 85%;
  gap: 8rem;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

nav {
  position: absolute;
  right: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  nav {
    display:none;
  }
}

nav a {
  padding: 0.5rem;
  border: 1.5px solid var(--color-black);
  font-size: 1.1rem;
  font-weight: 400;
  transition: all 0.3s;
  text-decoration: none;
  color: var(--color-black);
  border-radius: 1px;
}

nav a:hover {
  border: 1.5px solid var(--color-darkgrey);
  background-color: var(--color-black);
  color: var(--color-white);
}

span {
  display: inline-block;
}

img {
  width: 25rem;
}

aside {
  position: fixed;
  width: 2.5rem;
  bottom: 0;
  left: 1rem;
  right: auto;
}

@media only screen and (max-width: 768px) {
  aside {
    display: none;
  }
}

.landing__section,
.about__section,
.projects__section,
.contact__section {
  display: flex;
  justify-content: center;
}

/****************************************** Social Media **********************************/

.SM ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  box-align: center;
  align-items: center;
  margin: 0;
  gap: 2rem;
  padding: 0;
}
.SM ul::after {
  content: "";
  display: block;
  padding-bottom: 12rem;
  background-color: var(--color-black);
  width: 1px;
}

.SM ul li:hover {
  transform: translateY(-0.3rem);
  transition: 0.2s all ease-in-out;
}
.SM ul li a {
  font-size: 1.5rem;
  color: var(--color-black);
  transition: 0.2s all ease-in-out;
  padding: 1rem;
}
.SM ul li a:hover {
  color: var(--color-black);
}

/****************************************** Landing Section **********************************/

.landing__box-1 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  line-height: 1.1;
  max-width: 30rem;
}

@media only screen and (max-width: 950px) {
  .landing__box-2 {
    display: none;
  }
}

/****************************************** About Section **********************************/

.about__box-1 {
  position: relative;
}


.about__img {
  filter: grayscale(100%);
  transition: 0.2s all;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .about__img {
    filter: grayscale(0);
  }
} 

.about__img:hover {
  filter: grayscale(0);
}

.about__img-border {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-black);
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 0;
  transition: 0.2s all;
}

.about__img:hover ~ .about__img-border {
  top: 10px;
  left: 10px;
}

.about__box-2 {
  text-align: justify;
  max-width: 30rem;
  font-size: 1rem;
}

@media only screen and (max-width: 950px) {
  .about__box-2 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 520px) {
  .about__box-2 {
    font-size: 1.5rem;
  }
} 

.about__box-2 h2 {
  margin-bottom: 1rem;
}

.about__box-2 ul {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

@media only screen and (max-width: 400px) {
  .about__box-2 ul {
    min-width: unset;
  }
} 

.about__box-2 li {
  list-style: none;
}

.about__box-2 img {
  width: 3rem;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  border-radius: 50%;
  margin: 0.625rem;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px var(--color-lightblack);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 0.875rem;
  background-color: var(--color-black);
  color: var(--color-black);
  padding: 0.3125rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0 10px 10px var(--color-lightblack);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--color-black);
  bottom: 1.4375rem;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: 3.75rem;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover img,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px var(--color-lightblack);
}

.wrapper .icon:hover,
.wrapper .icon:hover .tooltip,
.wrapper .icon:hover .tooltip::before {
  color: var(--color-white);
}

/****************************************** Projects Section **********************************/

.projects__section {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 3rem;
}

.projects__box-2 {
  display: flex;
  gap: 2.2rem;
}

@media only screen and (max-width: 900px) {
  .projects__section {
    margin-top: 4rem;
  }

  .projects__box-2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.projects__box {
  width: 20.3rem;
  border: var(--color-black) solid 2px;
  padding: 1rem 1rem 2rem;
  cursor: pointer;
  transition: 0.2s all ease;
}

.projects__box:hover {
  border: 2px solid var(--color-darkgrey);
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: lighter;
}

.projects__box h2 {
  font-size: 3rem;
  font-weight: 600;
}

.projects__box h3 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.btn-rectangular:link,
.btn-rectangular:visited {
  color: var(--color-black);
  text-decoration: none;
  border-bottom: 1px solid var(--color-black);
  padding: 1rem 3rem;
  font-size: 1.1rem;
  transition: all 0.2s;
}

.btn-rectangular--white:hover,
.btn-rectangular:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.5);
  border: 1px solid grey;
}

.btn-rectangular--white:active,
.btn-rectangular:active {
  box-shadow: 0 0.5rem 2rem rgba(var(--color-black), 0.5);
}

.btn-rectangular--white:link,
.btn-rectangular--white:visited {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
}

.btn-rectangular--white:hover {
  border-bottom: 1px solid transparent;
}

/***** Modal *****/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-lightblack-2);
  display: none;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -10;
  margin: 0 auto;
  animation: circle-out-center 2s;
}

/* OPEN/CLOSE MODAL */
.open-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  width: 90vw;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: -1rem;
  right: -1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--color-white);
  cursor: pointer;
  transition: 0.1s;
}

@media only screen and (max-width: 768px) {
  .close-btn {
    top: 0;
  }
}

.close-btn:hover {
  color: var(--clr-red-light);
  transform: scale(1.3);
}


.work {
  color: var(--color-darkgrey);
  margin-left: 6rem;
  gap: 2rem;
}

.work__container {
  position: relative;
  border: 1px solid var(--color-darkgrey-2);
  padding: 1rem;
  transition: all 0.5s;
}

.work__container:hover {
  border: 2px solid var(--color-black);
  padding: 1.3rem;
}

.work__container:hover > .work__photo {
  filter: none;
  transform: scale(1.05);
  width: 50%;
  transition: all 0.5s;
}

.work__container:hover > .work__num {
  transition: all 0.5s;
  transform: scale(1);
  color: var(--color-white);
}

.work__container:hover > .work__desc {
  transform: scale(1);
  transition: all 0.6s;
  z-index: 1;
}

.work__container:hover > .work__photo--2 {
  background-position: left center;
}

.work__container:hover > .work__photo--3 {
  background-position: center center;
}

.work__photo {
  filter: saturate(0%) brightness(100%) contrast(100%);
  width: 100%;
  background-position: center;
  background-size: cover;
  padding: 13rem;
  transition: all 0.5s;
  border: 1px var(--color-black) solid;
}
.work__photo--1 {
  background-image: url(images/project1.png);
}

.work__photo--2 {
  background-image: url(images/project2.png);
}

.work__photo--3 {
  background-image: url(images/project3.png);
  background-position: 10% 0;
}

.work__num {
  position: absolute;
  top: -2.5rem;
  font-size: 4rem;
  right: 2rem;
  color: var(--color-darkgrey);
  transition: all 0.5s;
  transform: scale(0.5);
}

.work__desc {
  width: 40%;
  position: absolute;
  right: 2rem;
  top: 10%;
  z-index: -1;
  transform: scale(0);
  transition: all 0.1s;
  color: var(--color-white);
  background-color: var(--color-lightblack);
  padding: 2rem 1.5rem;
  border: 1px solid var(--color-black);
}

@media only screen and (max-width: 768px) {
  .work__container {
    border: 1px solid var(--color-white);
    padding: 1rem;
    transition: all 0.3s;
  }

  .work__container:hover {
    border: 2px solid var(--color-white);
  }

  .work__container > .work__photo {
    filter: none;
    transform: scale(1);
    border: 1px solid var(--color-white);
  }

  .work__container:hover > .work__photo {
    width: 100%;
    border: 2px solid var(--color-white);
  }
  
  .work__container > .work__num {
    transition: all 0.5s;
    transform: scale(1);
    color: var(--color-white);
    z-index: 2;
  }
  
  .work__container > .work__desc {
    transform: scale(1);
    transition: all 0.6s;
    z-index: 1;
    border: 1px solid var(--color-white);
    background-color: var(--color-lightblack);
  }
  
  .work__container > .work__photo--2 {
    background-position: left center;
  }
  
  .work__container > .work__photo--3 {
    background-position: center center;
  }

  .work__desc {
    position: unset;
    margin: 0 auto;
    width: 85%;
    margin-top: 1.2rem; 
    border: 2px solid var(--color-white);
  }

  .work__num {
    top: -1rem;
  }

  .work__num--1 {
    color: black !important;
  }
}

.work__desc ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin-top: 2rem;
}

.work__desc ul li:hover {
  transform: translateY(-0.3rem);
  transition: 0.2s all ease-in-out;
}
.work__desc ul li a {
  font-size: 1.5rem;
  color: var(--color-lightgrey);
  transition: 0.2s all ease-in-out;
  padding: 1rem;
}

.work__desc ul li a:hover {
  color: var(--color-black);
}

.work__desc p {
  color: var(--color-lightgrey);
}

/****************************************** Contact Section **********************************/

.contact__section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  font-size: 1.5rem;
  height: auto;
  padding-bottom: 10rem;
}

@media only screen and (max-width: 684px) {
  .contact__section {
    margin-top: 4rem;
    padding-bottom: 1rem;
    gap: 3.5rem;
  }
}

.contact__container {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  align-items: center;
  flex-wrap: wrap;
}

.contact__box-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (max-width: 700px) {
  .contact__container {
    justify-content: center;
  }
}

.contact__box-2 i {
  padding: 0rem 0.5rem;
}

/****************************************** Animations **********************************/


.animate__animated.animate__fadeInUp {
  animation-delay: 0.5s;
}

.animate__animated.animate__fadeInDown {
  animation-delay: 1.5s;
}

.animate__animated.animate__fadeInRight {
  animation-delay: 2.5s;
}

.animate__animated.animate__fadeIn {
  animation-delay: 3s;
}

.animate__animated.animate__fadeInLeft {
  animation-delay: 3.5s;
}

@keyframes circle-out-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

[transition-style="out:circle:center"] {
  animation: 2s cubic-bezier(0.25, 1, 0.3, 1) circle-out-center both;
}

/****************************************** Circular Menu **********************************/

.menu {
  position: fixed;
  width: 12.5rem;
  height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;  
  bottom: 1px;
  right: 1px;
}

.menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 100px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(60px);
}

.menu.active li {
  transform: rotate(calc(140deg / 4 * var(--i)));
}

.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  border-radius: 50%;
  transform: rotate(calc(140deg / -4 * var(--i)));
  color: black;
  box-shadow: 0 3px 4px rgba(0,0,0,0.25);
}

.toggle {
  position: absolute;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  font-size: 2rem;
  transition: transform 1.25s;
}

.menu.active .toggle {
  transform: rotate(315deg);
}
